body {
    margin-top: 150px;
}
.btn {
    display: block;
    margin: auto;
    width: 200px;
    height: 70px;
    color: crimson;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}